<%= form_for(@answer) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Type your answer..." %>
    <%= f.hidden_field :post_id, :value => post_id %>
  </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
