<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @post.title %>
      </h1>
      <p>
        <%= @post.content %>
      </p>
      <p>
        Votes: <%= @post.post_votes_count %>
      </p>
      <section class="micropost_form">
        <%= render 'shared/post_vote_form', post_id: @post.id %>
      </section>
    </section>
    <section class="micropost_form">
      <%= render 'shared/answer_form', post_id: @post.id %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Answers</h3>
    <%= render 'shared/answer_feed' %>
  </div>
</div>
